<%- include('includes/header.ejs') %>

    <!-- Main Content of the services page -->
    <div>

        <!-- <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
            <div class="container">
                <div class="flex flex-wrap justify-center -mx-4">
                    <div class="w-full px-4">
                        <div class="relative rounded overflow-hidden z-20 mb-[60px] h-[300px] md:h-[400px] lg:h-[500px] wow fadeInUp"
                            data-wow-delay=".1s">
                            <img src="https://www.cvent.com/sites/default/files/styles/column_content_width/public/image/2020-08/Cvent-Corporate-event.jpg?itok=vIU4Hl5c"
                                alt="Event at Cvent" class="w-full h-full object-cover object-center" />
                            <div class="absolute w-full h-full top-0 left-0 flex items-end z-10 bg-gradient-to-t from-dark-700 to-transparent">
                                <div class="flex flex-wrap items-center p-4 sm:p-8 pb-4">
                                    <div class="flex items-center mb-4 mr-5 md:mr-10">
                                        <div class="w-10 h-10 rounded-full overflow-hidden mr-4">
                                            <img src="https://amritevents.blr1.digitaloceanspaces.com/amrit%20events%20logo.jpg"
                                                alt="Amrit Events Logo" class="w-full" />
                                        </div>
                                        <p class="text-base text-white font-medium">
                                            Event at
                                            <a href="#" class="text-white hover:opacity-70">
                                                Cvent
                                            </a>
                                        </p>
                                    </div>
                                    <div class="flex items-center mb-4">
                                        <p class="flex items-center text-sm font-medium text-white mr-5 md:mr-8">
                                            <span class="mr-3">
                                                <svg width="14" height="14" viewBox="0 0 14 14"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M1.16675 1.75031C1.16675 1.02808 1.76728 0.527588 2.4895 0.527588H11.5103C12.2325 0.527588 12.833 1.02808 12.833 1.75031V11.2497C12.833 11.9719 12.2325 12.4724 11.5103 12.4724H10.1664V13.806H11.5001V14.1397H2.49996V13.806H3.83364V12.4724H2.4895C1.76728 12.4724 1.16675 11.9719 1.16675 11.2497V1.75031ZM11.5001 11.2497H10.1664V6.916H3.83364V11.2497H2.49996V2.75031H11.5001V11.2497Z"
                                                        fill="#fff" />
                                                </svg>
                                            </span>
                                            26 Feb 2023
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-4">
                            <div class="w-full lg:w-8/12 px-4">
                                <div>
                                    <h2 class="font-bold text-dark text-[26px] sm:text-3xl md:text-4xl leading-snug sm:leading-snug md:leading-snug mb-6 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        We plan on merging the smiles with the joys in the eyes. Only than will we be able to achieve our mission.
                                    </h2>
                                    <p class="text-base text-body-color leading-relaxed mb-8 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of Event Management. A growth-oriented Professional Event Management Company with all the innovative concepts, positive approach, work ethics, and integrity.
                                    </p>
                                    <p class="text-base text-body-color leading-relaxed mb-10 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        We are known for creating ideas and producing subjective themes as per the requirements, allocated budget & assigned time, right from meticulous planning, visualizing, conceptualizing, and production. Finally turning even the smallest event into a huge success. Our job profile includes theme Wedding and Birthday, Corporate Events, and Brand Promotional.
                                    </p>
                                    <h3 class="font-bold mb-8 text-dark text-2xl sm:text-[26px] wow fadeInUp"
                                        data-wow-delay=".1s">
                                        AMRIT EVENT CREATION
                                    </h3>
                                    <p class="text-base text-body-color leading-relaxed mb-10 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of Event Management. A growth-oriented Professional Event Management Company with all the innovative concepts, positive approach, work ethics, and integrity. We are known for creating ideas and producing subjective themes as per the requirements.
                                    </p>
                                    <div class="bg-primary bg-opacity-5 rounded overflow-hidden relative py-8 px-6 sm:p-10 md:px-[60px] text-center z-10 mb-10 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        <div class="max-w-[530px] mx-auto">
                                            <p class="font-medium text-dark text-base italic leading-[26px] mb-4">
                                                Be a better learner. Fight So hard, play so hard so that the result stops mattering.
                                            </p>
                                            <span class="text-sm text-body-color italic">
                                                “Sunil”
                                            </span>
                                            <div>
                                                <span class="absolute left-0 top-0">
                                                </span>
                                                <span class="absolute bottom-0 right-0">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="font-bold mb-8 text-dark text-2xl sm:text-[26px] wow fadeInUp"
                                        data-wow-delay=".1s">
                                        What is it with your ideas?
                                    </h3>
                                    <p class="text-base text-body-color leading-relaxed mb-8 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of Event Management. A growth-oriented Professional Event Management Company with all the innovative concepts, positive approach, work ethics, and integrity. We are known for creating ideas and producing subjective themes as per the requirements.
                                    </p>
                                    <p class="text-base text-body-color leading-relaxed mb-11 wow fadeInUp"
                                        data-wow-delay=".1s">
                                        We are one of the most aspiring companies in the field of Event Management. A growth-oriented Professional Event Management Company with all the innovative concepts, positive approach, work ethics, and integrity. We are known for creating ideas and producing subjective themes as per the requirements.
                                    </p>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        <!-- ====== Blog Details Section End -->
        <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
            <div class="px-4 mx-auto max-w-screen-xl">
                <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Our Blogs</h2>
                <div class="grid gap-12 sm:grid-cols-1 lg:grid-cols-3"> <!-- Changed grid-cols to 3 -->
                    <% blog.forEach(data => { %>
                        <article class="max-w-xs">
                            <a href="/blog?title=<%- data.title %>">
                                <img src="../uploads/<%= data.imageUrl %>"
                                    class="mb-5 rounded-lg" alt="Image 1">
                            </a>
                            <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                                <a href="/blog?title=<%- data.title %>"><%= data.title %></a>
                            </h2>
                            <p class="mb-4 text-gray-500 dark:text-gray-400"><a href="#"><%- data.content.slice(0,250) %></a></p>
                            <a href="/blog?title=<%- data.title %>"
                                class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                                Read Now
                            </a>
                        </article>
                    <% }) %>
                </div>
            </div>
        </aside>
        


    </div>

    <%- include('includes/footer.ejs') %>