<%- include('includes/header.ejs') %>

    <!-- Main Content of the services page -->

    <div class="">
        <!-- Slider main container -->
        <!-- Slider main container -->
        <div class="swiper" style="z-index: -11111111;">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img
                        src="https://www.rajwadaevents.com/uploaded-files/feature-images/Corporate-Events03_50_48.jpg"
                        class="w-full h-[500px] lg:h-screen" /></div>
                <div class="swiper-slide"><img
                        src="https://badhaihoevents.in/wp-content/uploads/2021/01/wedding-lawns-in-dwarka-delhi-to-host-the-most-special-day-of-your-life.jpg"
                        class="w-full h-[500px] lg:h-screen" /></div>
                <div class="swiper-slide"><img
                        src="https://5.imimg.com/data5/SELLER/Default/2021/8/WD/EG/NA/5844513/college-fashion-show-event-management-service.jpg"
                        class="w-full h-[500px] lg:h-screen" /></div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev" style="font-size: 12px; width: 30px; height: 30px; color: black;"></div>
            <div class="swiper-button-next" style="font-size: 12px; width: 30px; height: 30px; color: black;"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        <!-- Slider End -->

        <!-- Content Starts from Here -->

        <!-- About Information Card -->
        <section>
            <div>
                <div class='text-center font-medium lg:text-[40px] text-[32px] leading-tight pt-10'>
                    <h1 class=''>---- “Professional Event Management Company – Amrit Events ----</h1>
                </div>

                <div class='grid grid-cols-1 md:grid-cols-2 px-10 py-10 mt-8 gap-10'>
                    <div class='px-20 -ml-20 text-center justify-center items-center'>
                        <img src="../img/Rectangle 21.png" alt="" class="w-full " />
                        <br />
                        <span class='flex justify-center items-center'>
                            <img src='../img/logo.png' alt="" class="h-20 w-60" />
                        </span>
                    </div>
                    <div class='px-2 text-2xl'>Amrit Creation is a full-service event and wedding planning company
                        located in
                        Oregon, Operating PNW & Thailand. <br />

                        <br /> We offer professional event planning and co-ordination service for intimate weddings,
                        corporate
                        events,
                        gala dinner & more.<br />

                        <br /> Enhanced with more than a decade of local and international experience, our network
                        of
                        supplier
                        contacts,
                        built over a lifetime, allows us to negotiate the best possible deal for every aspect of
                        your
                        wedding.
                        We will
                        assist in keeping you organized, and ensure that not even the smallest details get
                        overlooked,
                        offering
                        a
                        truly
                        tailored approach to planning your wedding & events.<br />

                        <br /> Schedule a Complimentary Consultation now & let me get to know you a little more.
                        <br />

                       <div class="text-right">
                        <a href="/aboutUs">Read More...</a>
                       </div>

                        <!-- <button
                            class='mt-8 border border-orange-500 rounded-md px-2 py-2 text-orange-700 hover:bg-orange-500 hover:text-white'>
                            <Link to="/about">
                            <h1>Read More</h1>
                            </Link>

                        </button> -->

                    </div>



                </div>

            </div>
        </section>
        <!-- About Information End -->




        <!--====== SERVICES PART START ======-->
        <hr>
        <section class="services_area pt-10" id="about">
            <div class="container">
                <div class="row justify-center">
                    <div class="w-full lg:w-1/2">
                        <div class="section_title text-center pb-6">
                            <h5 class="sub_title">Services</h5>
                            <h4 class="main_title">Our Main Service Category</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-center">
                    <% category.forEach(data=> { %>
                        <div class="w-full sm:w-10/12 md:w-6/12 lg:w-4/12">
                            <a href="/services/<%= data.title %>">
                                <div class="single_services text-center mt-8 mx-1">
                                    <div class="services_icon">
                                        <i class="lni lni-write"></i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92"
                                            viewBox="0 0 94 92">
                                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12"
                                                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                                        </svg>
                                    </div>
                                    <div class="services_content mt-5">
                                        <h3 class="services_title text-black font-semibold text-xl md:text-3xl">
                                            <%= data.title %>
                                        </h3>
                                        <p class="mt-4 text-xl text-justify">
                                            <%= data.shortdescription %>
                                        </p>
                                    </div>
                                </div> <!-- single services -->
                            </a>
                        </div>
                        <% }) %>

                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== SERVICES PART ENDS ======-->

        <!-- Services Under Corporate Events -->
        <section>
            <div class="pt-20  lg:pt-[60px]">
                <h1 class=" px-10 font-bold bg-[#2dd4bf] py-5
                                                      text-2xl
                                                        text-black mb-2 block">
                    Services Under Corporate Events
                </h1>
                <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-100  ">
                    <div class="px-4 mx-auto max-w-screen-xl ">
                        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
                            <% category.forEach(categoryData=> { %>
                                <% if (categoryData.title==='Corporate Events' ) { %>
                                    <% if (categoryData.subcategory && categoryData.subcategory.length> 0) { %>
                                        <% categoryData.subcategory.forEach(subcategoryData=> { %>
                                            <article class="max-w-xl">
                                                <a href="/product/<%= subcategoryData.name %>">
                                                    <img src="../uploads/<%= subcategoryData.imageUrl %>"
                                                        class="mb-5 rounded-lg" alt="Image 1" width="1020px"
                                                        style="min-height: 190px;">
                                                </a>
                                                <h2
                                                    class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                                                    <a href="#">
                                                        <%= subcategoryData.name %>
                                                    </a>
                                                </h2>
                                                <p class="mb-4 text-gray-500 dark:text-gray-400">
                                                    <%= subcategoryData.shortdescription %>
                                                </p>
                                                <a href="#"
                                                    class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                                                    Read in 2 minutes
                                                </a>
                                            </article>
                                            <% }) %>
                                                <% } %>
                                                    <% } %>
                                                        <% }) %>



                        </div>
                    </div>
                </aside>
            </div>
        </section>
        <!-- Services Under Corporate Events -->


        <!-- Services Main Section End -->

        <!-- Gallary Shortcut -->

        <!-- Main Content of the Gallary page -->
        <section>
            <h2 class="text-2xl font-bold text-gray-800 mb-4 bg-[#2dd4bf] py-4 px-10">Image Gallery</h2>
            <div class="container mx-auto px-4 py-8">


                <!-- Image Gallery -->
                <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4">
                    <!-- Image 1 -->
                    <% gallery.forEach(data=> { %>
                        <% if(data.filetype=='image' ) { %>
                            <div class="bg-white justify-center rounded-lg  shadow-md w-auto">
                                <img src="../uploads/<%= data.imageUrl %>" alt="Image" class="w-full h-auto"
                                    style="100%">
                            </div>
                            <% } %>

                                <% }); %>


                                    <!-- Image 4 -->
                </div>
            </div>
            <h2 class="text-2xl font-bold text-gray-800 mb-4 bg-[#2dd4bf] py-4 px-10">Video Gallery</h2>

            <!-- Video Gallery -->
            <div class="container mx-auto px-4 py-8">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
                    <% gallery.forEach(data=> { %>
                        <% if(data.filetype=='video' ) { %>
                            <div class="responsive-container">
                                <iframe src="https://www.youtube.com/embed/<%= data.imageUrl %>" frameborder="0"
                                    allowfullscreen style="height: 220px;"></iframe>
                            </div>
                            <% } %>
                                <% }); %>
                </div>
            </div>
            <!-- <button>View More</button> -->
        </section>
        <!-- Galarray Shortcut -->








        <hr class="my-5">
        <section id="blog" class="blog_area">
            <div class="container">
                <div class="row justify-center">
                    <div class="w-full lg:w-1/2">
                        <div class="section_title text-center pb-6">
                            <h5 class="sub_title">Blog</h5>
                            <h4 class="main_title">From The Blog</h4>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
                <div class="row justify-center lg:justify-start">
                    <% blog.slice(-3).forEach(data=> { %>
                        <div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12">
                            <div
                                class="single_blog mx-3 mt-8 rounded-xl bg-white transition-all duration-300  hover:shadow-lg">
                                <div class="blog_image">
                                    <img src="../uploads/<%= data.imageUrl %>" alt="blog" class="w-full">
                                </div>
                                <div class="blog_content p-4 md:p-5">
                                    <ul class="blog_meta flex justify-between">
                                        <li class="text-body-color text-sm md:text-base">By: <a href="#"
                                                class="text-body-color hover:text-theme-color">
                                                <%= data.author %>
                                            </a>
                                        </li>
                                        <li class="text-body-color text-sm md:text-base">
                                            <%= new Date(data.createdAt).toLocaleDateString('en-US', { year: 'numeric' ,
                                                month: 'long' , day: 'numeric' }) %>
                                        </li>
                                    </ul>
                                    <h3 class="blog_title"><a href="/blog?title=<%- data.title %>">
                                            <%= data.title %>
                                        </a></h3>
                                    <a href="/blog?title=<%- data.title %>" class="more_btn">Read More</a>
                                </div>
                            </div> <!-- row -->
                        </div>
                        <% }) %>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>


        <hr class="my-5">
        <!-- Other Information -->
        <section>
            <div class="justify-center text-center">

                <h1
                    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                    We invest in the world’s potential</h1>
                <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                    Here
                    at
                    Flowbite we focus on markets where technology, innovation, and capital can unlock long-term
                    value
                    and
                    drive economic growth.</p>

            </div>
        </section>
        <!-- Some Other Information End -->
        <!-- Why Choose Us -->
        <section>
            <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
                <div class="pt-12 md:pt-20">

                    <div class="md:grid md:grid-cols-12 md:gap-6">
                        <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7 lg:col-span-6 md:mt-6 aos-init aos-animate"
                            data-aos="fade-right">
                            <div class="md:pr-4 lg:pr-12 xl:pr-16 mb-8">
                                <h3 class="h3 mb-3">Powerful suite of tools</h3>
                                <p class="text-xl text-gray-600">Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse
                                    cillum
                                    dolore
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                            </div>
                            <div class="mb-8 md:mb-0"><a
                                    class="flex items-center text-lg p-5 rounded border transition duration-300 ease-in-out mb-3 bg-gray-200 border-transparent"
                                    href="#0">
                                    <div>
                                        <div class="font-bold leading-snug tracking-tight mb-1">Building the Simple
                                            ecosystem
                                        </div>
                                        <div class="text-gray-600">Take collaboration to the next level with
                                            security
                                            and
                                            administrative
                                            features
                                            built for teams.</div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center w-8 h-8 bg-white rounded-full shadow flex-shrink-0 ml-3">
                                        <svg class="w-3 h-3 fill-current" viewBox="0 0 12 12"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.953 4.29a.5.5 0 00-.454-.292H6.14L6.984.62A.5.5 0 006.12.173l-6 7a.5.5 0 00.379.825h5.359l-.844 3.38a.5.5 0 00.864.445l6-7a.5.5 0 00.075-.534z">
                                            </path>
                                        </svg>
                                    </div>
                                </a><a
                                    class="flex items-center text-lg p-5 rounded border transition duration-300 ease-in-out mb-3 bg-white shadow-md border-gray-200 hover:shadow-lg"
                                    href="#0">
                                    <div>
                                        <div class="font-bold leading-snug tracking-tight mb-1">Building the Simple
                                            ecosystem
                                        </div>
                                        <div class="text-gray-600">Take collaboration to the next level with
                                            security
                                            and
                                            administrative
                                            features
                                            built for teams.</div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center w-8 h-8 bg-white rounded-full shadow flex-shrink-0 ml-3">
                                        <svg class="w-3 h-3 fill-current" viewBox="0 0 12 12"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.854.146a.5.5 0 00-.525-.116l-11 4a.5.5 0 00-.015.934l4.8 1.921 1.921 4.8A.5.5 0 007.5 12h.008a.5.5 0 00.462-.329l4-11a.5.5 0 00-.116-.525z"
                                                fill-rule="nonzero"></path>
                                        </svg>
                                    </div>
                                </a><a
                                    class="flex items-center text-lg p-5 rounded border transition duration-300 ease-in-out mb-3 bg-white shadow-md border-gray-200 hover:shadow-lg"
                                    href="#0">
                                    <div>
                                        <div class="font-bold leading-snug tracking-tight mb-1">Building the Simple
                                            ecosystem
                                        </div>
                                        <div class="text-gray-600">Take collaboration to the next level with
                                            security
                                            and
                                            administrative
                                            features
                                            built for teams.</div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center w-8 h-8 bg-white rounded-full shadow flex-shrink-0 ml-3">
                                        <svg class="w-3 h-3 fill-current" viewBox="0 0 12 12"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.334 8.06a.5.5 0 00-.421-.237 6.023 6.023 0 01-5.905-6c0-.41.042-.82.125-1.221a.5.5 0 00-.614-.586 6 6 0 106.832 8.529.5.5 0 00-.017-.485z"
                                                fill="#191919" fill-rule="nonzero"></path>
                                        </svg>
                                    </div>
                                </a></div>
                        </div>
                        <div
                            class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-5 lg:col-span-6 mb-8 md:mb-0 md:order-1">
                            <div class="transition-all" style="height: 468px;">
                                <div class="relative flex flex-col text-center lg:text-right aos-init aos-animate"
                                    data-aos="zoom-y-out">
                                    <div class="w-full opacity-100 translate-y-0">
                                        <div class="relative inline-flex flex-col">
                                            <img alt="Features bg" loading="lazy" width="500" height="462"
                                                decoding="async" data-nimg="1"
                                                class="md:max-w-none mx-auto rounded mb-4"
                                                src="https://www.attrievents.com/files/albumsmodule/5874af875d58e/album79/Dealer_Meet_02.jpg">

                                            <img alt="Features bg" loading="lazy" width="500" height="462"
                                                decoding="async" data-nimg="1"
                                                class="md:max-w-none mx-auto rounded mt-4"
                                                src="https://www.attrievents.com/files/albumsmodule/5874af875d58e/album79/Dealer_Meet_02.jpg">
                                        </div>
                                    </div>
                                    <div class="w-full opacity-0 -translate-y-16" hidden="" style="display: none;">
                                        <div class="relative inline-flex flex-col"><img alt="Features bg" loading="lazy"
                                                width="500" height="462" decoding="async" data-nimg="1"
                                                class="md:max-w-none mx-auto rounded"
                                                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-bg.35306e3e.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-bg.35306e3e.png&amp;w=1080&amp;q=75 2x"
                                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-bg.35306e3e.png&amp;w=1080&amp;q=75"
                                                style="color: transparent;"><img alt="Element" loading="lazy"
                                                width="500" height="44" decoding="async" data-nimg="1"
                                                class="md:max-w-none absolute w-full left-0 transform animate-float"
                                                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-element.1a5bcb68.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-element.1a5bcb68.png&amp;w=1080&amp;q=75 2x"
                                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-element.1a5bcb68.png&amp;w=1080&amp;q=75"
                                                style="color: transparent; top: 30%;"></div>
                                    </div>
                                    <div class="w-full opacity-0 -translate-y-16" hidden="" style="display: none;">
                                        <div class="relative inline-flex flex-col"><img alt="Features bg" loading="lazy"
                                                width="500" height="462" decoding="async" data-nimg="1"
                                                class="md:max-w-none mx-auto rounded"
                                                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-bg.35306e3e.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-bg.35306e3e.png&amp;w=1080&amp;q=75 2x"
                                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-bg.35306e3e.png&amp;w=1080&amp;q=75"
                                                style="color: transparent;"><img alt="Element" loading="lazy"
                                                width="500" height="44" decoding="async" data-nimg="1"
                                                class="md:max-w-none absolute w-full left-0 transform animate-float"
                                                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-element.1a5bcb68.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-element.1a5bcb68.png&amp;w=1080&amp;q=75 2x"
                                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffeatures-element.1a5bcb68.png&amp;w=1080&amp;q=75"
                                                style="color: transparent; top: 30%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose End -->

        <hr class="my-10">
        <!-- Testinomial -->
        <section id="testimonials" class="">
            <div class="container px-4">
                <div class="flex flex-wrap">
                    <div class="w-full mx-4">
                        <div class="section_title text-center pb-6">
                            <h5 class="sub_title">Testimonials</h5>
                            <h4 class="main_title">What our clients Say?</h4>
                        </div> <!-- section title -->
                    </div>
                </div>

                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                        <div class="ud-single-testimonial
                        p-8
                        bg-white
                        mb-12
                        shadow-testimonial
                        wow
                        fadeInUp" data-wow-delay=".1s
                      " style="visibility: visible; animation-delay: 0.1s;">
                            <div class="ud-testimonial-ratings flex items-center mb-3">
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <div class="ud-testimonial-content mb-6">
                                <p class="text-base tracking-wide text-body-color">
                                    “Our members are so impressed. It's intuitive. It's clean.
                                    It's distraction free. If you're building a community.
                                </p>
                            </div>
                            <div class="ud-testimonial-info flex items-center">
                                <div class="
                            ud-testimonial-image
                            w-[50px]
                            h-[50px]
                            rounded-full
                            
                            mr-5
                          ">
                                    <img src="assets/images/testimonials/author-01.png" alt="author">
                                </div>
                                <div class="ud-testimonial-meta">
                                    <h4 class="text-sm font-semibold">Sabo Masties</h4>
                                    <p class="text-[#969696] text-xs">Founder @ Rolex</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                        <div class="ud-single-testimonial
                        p-8
                        bg-white
                        mb-12
                        shadow-testimonial
                        wow
                        fadeInUp" data-wow-delay=".15s
                      " style="visibility: visible; animation-delay: 0.15s;">
                            <div class="ud-testimonial-ratings flex items-center mb-3">
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <div class="ud-testimonial-content mb-6">
                                <p class="text-base tracking-wide text-body-color">
                                    “Our members are so impressed. It's intuitive. It's clean.
                                    It's distraction free. If you're building a community.
                                </p>
                            </div>
                            <div class="ud-testimonial-info flex items-center">
                                <div class="
                            ud-testimonial-image
                            w-[50px]
                            h-[50px]
                            rounded-full
                            
                            mr-5
                          ">
                                    <img src="assets/images/testimonials/author-02.png" alt="author">
                                </div>
                                <div class="ud-testimonial-meta">
                                    <h4 class="text-sm font-semibold">Margin Gesmu</h4>
                                    <p class="text-[#969696] text-xs">Founder @ UI Hunter</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                        <div class="ud-single-testimonial
                        p-8
                        bg-white
                        mb-12
                        shadow-testimonial
                        wow
                        fadeInUp" data-wow-delay=".2s
                      " style="visibility: visible; animation-delay: 0.2s;">
                            <div class="ud-testimonial-ratings flex items-center mb-3">
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="text-[#fbb040] mr-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" class="fill-current">
                                        <path
                                            d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <div class="ud-testimonial-content mb-6">
                                <p class="text-base tracking-wide text-body-color">
                                    “Our members are so impressed. It's intuitive. It's clean.
                                    It's distraction free. If you're building a community.
                                </p>
                            </div>
                            <div class="ud-testimonial-info flex items-center">
                                <div class="
                            ud-testimonial-image
                            w-[50px]
                            h-[50px]
                            rounded-full
                            
                            mr-5
                          ">
                                    <img src="assets/images/testimonials/author-03.png" alt="author">
                                </div>
                                <div class="ud-testimonial-meta">
                                    <h4 class="text-sm font-semibold">William Smith</h4>
                                    <p class="text-[#969696] text-xs">Founder @ Trorex</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <script defer async src='https://cdn.trustindex.io/loader.js?92fe8a929fe5592f563696d6ba6'></script>

        <!-- Testimonial End -->

        <hr class="my-10">

        <!-- FAQ SEction -->
        <section class="
                    bg-[#f3f4ff]
                    pt-20
                    lg:pt-[120px]
                    pb-12
                    lg:pb-[90px]
                    relative
                    z-20
                    
                  ">
            <div class="container">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full px-4">
                        <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[620px]">
                            <span class="font-semibold text-lg text-primary mb-2 block">
                                FAQ
                            </span>
                            <h2 class="
                              font-bold
                              text-3xl
                              sm:text-4xl
                              md:text-[42px]
                              text-dark
                              mb-4
                            ">
                                Any Questions? Answered
                            </h2>
                            <p class="
                              text-lg
                              sm:text-xl
                              leading-relaxed
                              sm:leading-relaxed
                              text-body-color
                            ">
                                There are many variations of passages of Lorem Ipsum available
                                but the majority have suffered alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="w-full lg:w-1/2 px-4">
                        <div class="single-faq
                            w-full
                            bg-white
                            border border-[#F3F4FE]
                            rounded-lg
                            p-5
                            sm:p-8
                            mb-8
                            wow
                            fadeInUp" data-wow-delay=".1s
                          " style="visibility: visible; animation-delay: 0.1s;">
                            <button class="faq-btn flex items-center w-full text-left">
                                <div class="
                                w-full
                                max-w-[40px]
                                h-10
                                flex
                                items-center
                                justify-center
                                rounded-lg
                                bg-primary
                                text-primary
                                bg-opacity-5
                                mr-5
                              ">
                                    <svg width="17" height="10" viewBox="0 0 17 10" class="fill-current icon">
                                        <path
                                            d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                            fill="#3056D3" stroke="#3056D3"></path>
                                    </svg>
                                </div>
                                <div class="w-full">
                                    <h4 class="text-base sm:text-lg font-semibold text-black">
                                        How to use TailGrids?
                                    </h4>
                                </div>
                            </button>
                            <div class="faq-content pl-[62px] hidden">
                                <p class="text-base text-body-color leading-relaxed py-3">
                                    It takes 2-3 weeks to get your first blog post ready. That
                                    includes the in-depth research &amp; creation of your monthly
                                    content marketing strategy that we do before writing your
                                    first blog post, Ipsum available .
                                </p>
                            </div>
                        </div>
                        <div class="single-faq
                            w-full
                            bg-white
                            border border-[#F3F4FE]
                            rounded-lg
                            p-5
                            sm:p-8
                            mb-8
                            wow
                            fadeInUp" data-wow-delay=".15s
                          " style="visibility: visible; animation-delay: 0.15s;">
                            <button class="faq-btn flex items-center w-full text-left">
                                <div class="
                                w-full
                                max-w-[40px]
                                h-10
                                flex
                                items-center
                                justify-center
                                rounded-lg
                                bg-primary
                                text-primary
                                bg-opacity-5
                                mr-5
                              ">
                                    <svg width="17" height="10" viewBox="0 0 17 10" class="fill-current icon">
                                        <path
                                            d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                            fill="#3056D3" stroke="#3056D3"></path>
                                    </svg>
                                </div>
                                <div class="w-full">
                                    <h4 class="text-base sm:text-lg font-semibold text-black">
                                        How to download icons from LineIcons?
                                    </h4>
                                </div>
                            </button>
                            <div class="faq-content pl-[62px] hidden">
                                <p class="text-base text-body-color leading-relaxed py-3">
                                    It takes 2-3 weeks to get your first blog post ready. That
                                    includes the in-depth research &amp; creation of your monthly
                                    content marketing strategy that we do before writing your
                                    first blog post, Ipsum available .
                                </p>
                            </div>
                        </div>
                        <div class="single-faq
                            w-full
                            bg-white
                            border border-[#F3F4FE]
                            rounded-lg
                            p-5
                            sm:p-8
                            mb-8
                            wow
                            fadeInUp" data-wow-delay=".2s
                          " style="visibility: visible; animation-delay: 0.2s;">
                            <button class="faq-btn flex items-center w-full text-left">
                                <div class="
                                w-full
                                max-w-[40px]
                                h-10
                                flex
                                items-center
                                justify-center
                                rounded-lg
                                bg-primary
                                text-primary
                                bg-opacity-5
                                mr-5
                              ">
                                    <svg width="17" height="10" viewBox="0 0 17 10" class="fill-current icon">
                                        <path
                                            d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                            fill="#3056D3" stroke="#3056D3"></path>
                                    </svg>
                                </div>
                                <div class="w-full">
                                    <h4 class="text-base sm:text-lg font-semibold text-black">
                                        Is GrayGrids part of UIdeck?
                                    </h4>
                                </div>
                            </button>
                            <div class="faq-content pl-[62px] hidden">
                                <p class="text-base text-body-color leading-relaxed py-3">
                                    It takes 2-3 weeks to get your first blog post ready. That
                                    includes the in-depth research &amp; creation of your monthly
                                    content marketing strategy that we do before writing your
                                    first blog post, Ipsum available .
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4">
                        <div class="single-faq
                            w-full
                            bg-white
                            border border-[#F3F4FE]
                            rounded-lg
                            p-5
                            sm:p-8
                            mb-8
                            wow
                            fadeInUp" data-wow-delay=".1s
                          " style="visibility: visible; animation-delay: 0.1s;">
                            <button class="faq-btn flex items-center w-full text-left">
                                <div class="
                                w-full
                                max-w-[40px]
                                h-10
                                flex
                                items-center
                                justify-center
                                rounded-lg
                                bg-primary
                                text-primary
                                bg-opacity-5
                                mr-5
                              ">
                                    <svg width="17" height="10" viewBox="0 0 17 10" class="fill-current icon">
                                        <path
                                            d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                            fill="#3056D3" stroke="#3056D3"></path>
                                    </svg>
                                </div>
                                <div class="w-full">
                                    <h4 class="text-base sm:text-lg font-semibold text-black">
                                        Can I use this template for commercial project?
                                    </h4>
                                </div>
                            </button>
                            <div class="faq-content pl-[62px] hidden">
                                <p class="text-base text-body-color leading-relaxed py-3">
                                    It takes 2-3 weeks to get your first blog post ready. That
                                    includes the in-depth research &amp; creation of your monthly
                                    content marketing strategy that we do before writing your
                                    first blog post, Ipsum available .
                                </p>
                            </div>
                        </div>
                        <div class="single-faq
                            w-full
                            bg-white
                            border border-[#F3F4FE]
                            rounded-lg
                            p-5
                            sm:p-8
                            mb-8
                            wow
                            fadeInUp" data-wow-delay=".15s
                          " style="visibility: visible; animation-delay: 0.15s;">
                            <button class="faq-btn flex items-center w-full text-left">
                                <div class="
                                w-full
                                max-w-[40px]
                                h-10
                                flex
                                items-center
                                justify-center
                                rounded-lg
                                bg-primary
                                text-primary
                                bg-opacity-5
                                mr-5
                              ">
                                    <svg width="17" height="10" viewBox="0 0 17 10" class="fill-current icon">
                                        <path
                                            d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                            fill="#3056D3" stroke="#3056D3"></path>
                                    </svg>
                                </div>
                                <div class="w-full">
                                    <h4 class="text-base sm:text-lg font-semibold text-black">
                                        Do you have plan to releasing Play Pro?
                                    </h4>
                                </div>
                            </button>
                            <div class="faq-content pl-[62px] hidden">
                                <p class="text-base text-body-color leading-relaxed py-3">
                                    It takes 2-3 weeks to get your first blog post ready. That
                                    includes the in-depth research &amp; creation of your monthly
                                    content marketing strategy that we do before writing your
                                    first blog post, Ipsum available .
                                </p>
                            </div>
                        </div>
                        <div class="single-faq
                            w-full
                            bg-white
                            border border-[#F3F4FE]
                            rounded-lg
                            p-5
                            sm:p-8
                            mb-8
                            wow
                            fadeInUp" data-wow-delay=".2s
                          " style="visibility: visible; animation-delay: 0.2s;">
                            <button class="faq-btn flex items-center w-full text-left">
                                <div class="
                                w-full
                                max-w-[40px]
                                h-10
                                flex
                                items-center
                                justify-center
                                rounded-lg
                                bg-primary
                                text-primary
                                bg-opacity-5
                                mr-5
                              ">
                                    <svg width="17" height="10" viewBox="0 0 17 10" class="fill-current icon">
                                        <path
                                            d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                            fill="#3056D3" stroke="#3056D3"></path>
                                    </svg>
                                </div>
                                <div class="w-full">
                                    <h4 class="text-base sm:text-lg font-semibold text-black">
                                        Where and how to host this template?
                                    </h4>
                                </div>
                            </button>
                            <div class="faq-content pl-[62px] hidden">
                                <p class="text-base text-body-color leading-relaxed py-3">
                                    It takes 2-3 weeks to get your first blog post ready. That
                                    includes the in-depth research &amp; creation of your monthly
                                    content marketing strategy that we do before writing your
                                    first blog post, Ipsum available .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="absolute bottom-0 right-0 z-[-1]">
                <svg width="1440" height="886" viewBox="0 0 1440 886" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5"
                        d="M193.307 -273.321L1480.87 1014.24L1121.85 1373.26C1121.85 1373.26 731.745 983.231 478.513 729.927C225.976 477.317 -165.714 85.6993 -165.714 85.6993L193.307 -273.321Z"
                        fill="url(#paint0_linear)"></path>
                    <defs>
                        <linearGradient id="paint0_linear" x1="1308.65" y1="1142.58" x2="602.827" y2="-418.681"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.36"></stop>
                            <stop offset="1" stop-color="#F5F2FD" stop-opacity="0"></stop>
                            <stop offset="1" stop-color="#F5F2FD" stop-opacity="0.096144"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </section>
        <!-- FAQ section End -->
    </div>
    <!-- Main Content of the services page End -->


    <%- include('includes/footer.ejs') %>