<%- include('includes/header.ejs') %>

    <!-- Main Content of the services page -->
    <div class="container">
        <!-- Service Hero Card -->
        <section>
            <div>
                <div class='text-center font-medium lg:text-[40px] text-[32px] leading-tight pt-10'>
                    <h1 class='pb-10'>---- “Our Comprehensive Event Management Solutions ----
                    </h1>
                </div>
                <div class=' text-center justify-center items-center'>
                    <img src="../img/amrit light show.jpg" alt=""
                        class="sm:w-full md:w-[90%] mx-auto h-[600px] rounded-lg" data-aos="fade-right" />
                </div>
                <div class=' px-10 py-10 mt-8 gap-10'>

                    <div class='px-2 text-2xl text-justify' data-aos="fade-left">we specialize in delivering exceptional
                        event management services tailored to meet your unique needs and exceed your
                        expectations. From corporate gatherings to private celebrations, we offer a diverse range of
                        services designed to make
                        every event a success. <br />

                        <br /> We offer professional event planning and co-ordination service for intimate corporate
                        event, weddings and parties & more....



                        <!-- <button
                                class='mt-8 border border-orange-500 rounded-md px-2 py-2 text-orange-700 hover:bg-orange-500 hover:text-white'>
                                <Link to="/about">
                                <h1>Read More</h1>
                                </Link>
    
                            </button> -->

                    </div>



                </div>

            </div>
        </section>
        <!-- Servie Hero Card End -->
        <!-- Your services content goes here -->
        <section class="mt-20 dark:bg-gray-800 p-10">
            <h1
                class="ml-8 font-bold bg-blue-100 p-4 rounded-lg opacity-70 text-3xl sm:text-4xl md:text-[42px] text-center text-black mb-2 block">
                Our All Event Management Services
            </h1>
            <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-12 lg:px-6">
                <% service.forEach((data, index)=> { %>
                    <div class="items-center grid-cols-1 gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
                        <% if (index % 2===0) { %> <!-- Check if index is even -->
                            <img data-aos="fade-right" class="w-full mb-4 rounded-lg lg:mb-0 lg:flex"
                                src="../uploads/<%= data.imageUrl %>" alt="dashboard feature image" />
                            <div id="<%= data.slug %>" data-aos="fade-left"
                                class="text-gray-500 sm:text-lg dark:text-gray-400">
                                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                                    <%= data.title %>
                                </h2>
                                <p class="mb-8 font-light lg:text-xl">
                                    <%= data.shortdescription %>
                                </p>

                                <p class="mb-8 font-light lg:text-xl ">
                                    <a href="/services/<%= data.slug %>"
                                        class=" hover:bg-red-400 bg-gray-700 border px-4 p-3 text-white"
                                        style="border-radius: 120px;">View More</a>
                                </p>
                            </div>
                            <% } else { %> <!-- If index is odd -->
                                <div id="<%= data.slug %>" class="text-gray-500 sm:text-lg dark:text-gray-400"
                                    data-aos="fade-right">
                                    <h2
                                        class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                                        <%= data.title %>
                                    </h2>
                                    <p class="mb-8 font-light lg:text-xl">
                                        <%= data.shortdescription %>

                                    </p>

                                    <p class="mb-8 font-light lg:text-xl 0">
                                        <a href="/services/<%= data.slug %>"
                                            class="bg-gray-700 px-4 border p-3 text-white hover:bg-red-400"
                                            style="border-radius: 120px;">View More</a>
                                    </p>
                                </div>
                                <img class="w-full mb-4 rounded-lg lg:mb-0 lg:flex animate-zoom-in" data-aos="fade-left"
                                    src="../uploads/<%= data.imageUrl %>" alt="feature image 2" />
                                <% } %>
                    </div>
                    <% }); %>
            </div>
        </section>

    </div>
    <hr class="py-10">
    <section>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 gap-6">
            <% service.forEach((data, index)=> { %>
                <a href="/services/#<%= data.slug %>" data-aos="fade-up">
                    <div
                        class="border text-center h-24 d-flex justify-content-center align-items-center p-8 rounded-md bg-gray-50 hover:shadow-xl hover:bg-red-300 cursor-pointer shadow-md">
                        <h1 class="text-center font-semibold">
                            <%= data.title %>
                        </h1>
                    </div>
                </a>
                <% }); %>

        </div>
    </section>




    <%- include('includes/footer.ejs') %>